<div class="opera-title-list">

  <div class="opera-list">
    <h3>Operas by Title</h3>

    <!--<app-opera-item *ngFor="let opera of operas"
    [opera]="opera"
    (click)="showComposer()">
    </app-opera-item>
  -->
    <div >
    <ul  class="list-unstyled">
      <li *ngFor="let opera of operas" class="bg-dark text-light p-1 rounded mb-2"
        [routerLink]="['/operas', opera.id]">{{ opera.name }}
      </li>
    </ul>
    </div>
  </div>
  <button class="btn btn-primary" name="newOpera" routerLink="/new">
    Add New Opera
  </button>
</div>
