<div class="opera-title-list">

  <div class="opera-list">
    <h3>Operas by Title</h3>

    <!--<app-opera-item *ngFor="let opera of operas"
    [opera]="opera"
    (click)="showComposer()">
    </app-opera-item>
  -->
    <div >
    <ul *ngFor="let opera of operas">
      <li><a href="operas/{{ opera.id }}">{{ opera.name }}</a></li>
    </ul>
    </div>
  </div>
  <form>
    <label for="operaname"></label><br>
    <input type="text" id="operaname" name="operaname" placeholder="new opera name">
    <input type="submit" value="submit" (click)="addOpera()">
  </form>
</div>
