<div class="row">
  <div class="col-sm-3">
    <img src="{{ composer.image }}" width="300" style="margin:10px" alt="composer photo">
  </div>
  <div class="col-sm-9">
    <h4>{{ composer.firstName }} {{ composer.lastName }}</h4>
    <h6>{{ composer.birthYear }}-{{ composer.deathYear }}</h6>
    <h6>Birthplace: {{ composer.birthPlace }}</h6>
    <h6>Operas: </h6>
    <ul class="list-unstyled" *ngFor="let opera of composer.operas">
      <li style="cursor: pointer; color:blue;"
      [routerLink]="['/operas', opera.id]"
      >{{ opera.name }}</li>
    </ul>
    <button name="goBack" routerLink="/composers" class="btn btn-info">Back</button>
  </div>
</div>
