<div id="card">
  <div id="content">
    <div class="row">
      <div class="col-sm-3">
        <img src="{{ composer.image }}" width="100%" style="margin:10px" alt="composer photo">
      </div>
      <div class="col-sm-9">
        <h4 id="name">{{ composer.firstName }} {{ composer.lastName }}</h4>
        <div id="info">
          <span>{{ composer.birthYear }}-{{ composer.deathYear }}</span> |
          <span>Birthplace: {{ composer.birthPlace }}</span><br>
        </div>

        <ul class="list-unstyled" *ngFor="let opera of composer.operas">
          <li>
            <div class="opera-list-item" [routerLink]="['/operas', opera.id]">
            <span>{{ opera.name }}</span>
          </div>
          </li>
        </ul>
        <button name="goBack" routerLink="/composers" class="btn btn-info">Back</button>
      </div>
    </div>
  </div>
</div>
