#name {
  color: rgb(99, 172, 4);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#info {
  color: white;
}

#card {
  background-color: black;
}

#content {
  padding: 30px;
}

.opera-list-item {
  color: rgb(145, 63, 4);
  background-color: burlywood;
  width: 350px;
  margin: 2px;
  padding: 5px;
}

.opera-list-item:hover {
  background-color: chocolate;
  color: white;
  width: 355px;
}
