.header {
  text-align: center;
  background-color: rgb(153, 210, 240);
  border: 2px solid black;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title {
  font-family: cursive;
  color: blueviolet;
  font-size: 60px;
}

.navbar {
  display: flex;
  justify-content: center;
  margin: 0;
}

.nav-item {
  color: rgb(126, 5, 163);
  border: 1px solid rgb(126, 5, 163);
  margin: 2px;
  border-radius: 5px;
}

.active {
  background-color: cadetblue;
}

.nav-item:hover {
  background-color: rgb(184, 161, 191);
  color: white;
}

.nav-item:active {
  background-color: lawngreen;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

