<div class="header container-fluid fixed-top" style="padding: 0;">
  <div class="container-fluid" >
    <h1>the <span id="title">{{ title | uppercase }}</span> resource</h1>
    <h6 style="margin:0;">~ learn about operas and by whom they were composed ~</h6>
  </div>
  <nav class="navbar navbar-expand-sm">
    <ul class="navbar nav">
      <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/composers">Composers</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/operas">Operas</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
    </ul>
  </nav>
</div>

<div class="container-fluid" style="margin-top: 170px; padding: 0;">
  <router-outlet></router-outlet>
</div>

