h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title {
  font-family: cursive;
  color: blueviolet;
  font-size: 60px;
}

.nav-item {
  border: 1px solid black;
  margin: 2px;
  border-radius: 5px;
}

.active {
  background-color: cadetblue;
}

.nav-item:hover {
  background-color: khaki;
}

.nav-item:active {
  background-color: lawngreen;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

