/*
div {
  background-color: burlywood;
  border-style: solid;
  border-color: crimson;
}
.button {
  margin-bottom: 10em;
} */

.composer-content {
  background-color: black;
  height: 100%;
}

.instruction {
  color: white;
}

.composer-list-item {
  color: rgb(145, 63, 4);
  background-color: burlywood;
  width: 350px;
  margin: 2px;
  padding: 5px;
}

.composer-list-item:hover {
  background-color: chocolate;
  color: white;
  width: 355px;
}
