<h3>Submit a new opera</h3>
<form [formGroup]="newOperaForm" (ngSubmit)="submitForm()">
  <label>Title:<br>
    <input type="text" formControlName="title" style="width: 400px;">
  </label><br>
  Composer:<br>
  <select formControlName="composer" (change)="pickComposer($event)">
    <option *ngFor="let composer of composers" [ngValue]="composer">{{ composer }}</option>
  </select><br>
  <label>Librettist:<br>
    <input type="text" formControlName="librettist" style="width: 400px;">
  </label><br>
  <label>Year:<br>
    <input type="text" formControlName="year">
  </label><br>
  Language:<br>
  <select formControlName="language" (change)="pickLanguage($event)">
    <option *ngFor="let language of languages" [ngValue]="language">{{ language }}</option>
  </select><br>
  <label>Summary:<br>
    <textarea type="text" formControlName="summary" style="width: 500px; height: 140px"></textarea>
  </label><br>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
<button name="goBack" class="btn btn-info" routerLink="/operas">
  Back
</button>
<p *ngIf="formSubmitted" style="color:green;">Opera Successfully Added</p>
