<h3>Submit a new opera</h3>
<form [formGroup]="newOperaForm" (ngSubmit)="showForm()">
  <label>Title:
    <input type="text" formControlName="title">
  </label><br>
  Composer:
  <select formControlName="composer" (change)="pickComposer($event)">
    <option *ngFor="let composer of composers" [ngValue]="composer">{{ composer }}</option>
  </select><br>
  <label>Year:
    <input type="text" formControlName="year">
  </label><br>

  Language:
  <select formControlName="language" (change)="pickLanguage($event)">
    <option *ngFor="let language of languages" [ngValue]="language">{{ language }}</option>
  </select><br>


  <button type="submit" class="btn btn-success">Submit</button>
</form>
<button name="goBack" class="btn btn-info" routerLink="/operas">
  Back
</button>
